@import "../../styles/variables.scss";

.pageTitle {
	margin: 0;
	padding: 0 0 $size3;
	font-size: $size5;
	font-weight: 900;
	color: $darkGrey;
	line-height: 1;

	@include desktop {
		font-size: $size6;
	}
}
