@import "../../../styles/variables.scss";

.accountPage {
	max-width: 750px;
	padding: 0 $size0;
	margin: auto;
}

.profileInfo {
	display: flex;
	flex-direction: column;
	padding: $size1 $size0;
	margin-bottom: $size5;
	box-shadow: $shadow5px;
	border-radius: $size0;
	@include desktop {
		padding: $size3 $size2;
		flex-direction: row;
	}

	&__fields {
		padding: $size1 0 0;

		@include desktop {
			padding: 0 0 0 $size3;
		}
	}

	&__picture {
		max-width: 250px;
		min-width: 150px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: auto;

		@include desktop {
			width: 50%;
			margin: 0;
		}

		&__img {
			width: 100%;
			border-radius: 50%;
			height: auto;
			margin-bottom: $size0;
		}
	}
}
