@import "../../../styles/variables.scss";

.accountPage {
	max-width: 750px;
	padding: 0 $size0 $size3;
	margin: auto;
}

.accountFields {
	padding: 0 $size0 $size4;
}

.profileInfo {
	&__editForm {
		padding: 0 0 $size4;
		max-width: 250px;
	}
}
