@import "../../../../styles/variables.scss";

.letterDraw {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: $size0;

	&__canvas {
		touch-action: none;
		box-shadow: inset 1px 1px 5px $darkGreyTransparent;
		fill: none;
		stroke: $darkGrey;
		stroke-width: 30;
		stroke-miterlimit: 0;
		stroke-linejoin: round;
		stroke-linecap: round;
		cursor: crosshair;

		&__guide {
			stroke-width: 2;
			stroke: $lightGrey;
		}
	}

	&__label {
		margin: 0 0 $size-3;
	}

	&__button {
		margin: $size-3 $size-3 0;
	}
}
