@import "./variables.scss";

.button {
	border: none;
	font-family: inherit;
	font-weight: 500;
	border-radius: $size6;
	cursor: pointer;
	text-decoration: none;
	z-index: 2;
	transition-property: transform, box-shadow;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transform: scale(1);
	padding: $size-3 $size0;
	display: inline-flex;
	align-items: center;
	font-size: $size1;

	&__primary {
		background: $vibrantGradient;
		color: $white;
	}

	&__primaryAlt {
		background: $vibrantGradientAlt;
		color: $white;
	}

	&__secondary {
		background: $lightGrey;
		color: $darkGrey;
		border: 1px solid $grey;
	}

	&__destructive {
		background: $error;
		color: $white;
	}

	&--large {
		font-size: $size2;
		padding: $size0 $size1;
	}

	&--wide {
		width: 100%;
		border-radius: $size-3;
		display: flex;
		padding: $size0;
		justify-content: center;
		align-items: center;
	}

	&:hover,
	&:focus {
		box-shadow: $shadow1px;
	}

	&--stacked {
		display: flex;
		align-items: center;
		margin-bottom: $size0;
	}
}

.buttonRow {
	display: flex;
	flex-wrap: wrap;
	margin: -$size-3;

	> .button {
		margin: $size-3;
	}
}

.linkButton {
	border: 0;
	background: none;
	font-family: inherit;
	display: flex;
	font-weight: 600;
	cursor: pointer;
	color: $primary;
	margin: 0 0 $size0;
}
