@import "./variables.scss";

.form {
	display: flex;
	flex-direction: column;
	width: 100%;

	&__label {
		display: flex;
		flex-direction: column;
		font-weight: 600;
		padding-bottom: $size0;
		width: 100%;
	}

	&__input {
		margin-top: $size-3;
		padding: $size0;
		border-radius: $size-3;
		border: 1px solid $grey;
		outline: none;
		box-sizing: content-box;
		font-weight: 500;
		transition: filter 0.2s ease-in-out;
		&:hover,
		&:focus {
			filter: drop-shadow(3px 3px 0 $hoverPink);
		}
	}
}
