@font-face {
	src: url(./assets/fonts/GreycliffCF-Light.woff2);
	font-family: "GreycliffCF";
	font-weight: 200;
}
@font-face {
	src: url(./assets/fonts/GreycliffCF-Regular.woff2);
	font-family: "GreycliffCF";
	font-weight: 400;
}
@font-face {
	src: url(./assets/fonts/GreycliffCF-Medium.woff2);
	font-family: "GreycliffCF";
	font-weight: 500;
}
@font-face {
	src: url(./assets/fonts/GreycliffCF-DemiBold.woff2);
	font-family: "GreycliffCF";
	font-weight: 600;
}
@font-face {
	src: url(./assets/fonts/GreycliffCF-Bold.woff2);
	font-family: "GreycliffCF";
	font-weight: 700;
}
@font-face {
	src: url(./assets/fonts/GreycliffCF-ExtraBold.woff2);
	font-family: "GreycliffCF";
	font-weight: 800;
}
@font-face {
	src: url(./assets/fonts/GreycliffCF-Heavy.woff2);
	font-family: "GreycliffCF";
	font-weight: 900;
}

@import "./variables.scss";

.paragraph {
	max-width: 550px;
	color: $darkestGrey;
	font-size: $size1;
	margin: 0;

	&--informational {
		font-size: $size0;
	}

	&--b {
		padding-bottom: $size0;
	}

	&--error {
		font-size: $size1;
		color: $error;
		padding: $size0 0 $size2;
		display: flex;
		align-items: center;
	}

	&--hero {
		font-size: $size6;
		font-weight: 300;
	}
}
