$shadow1px: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.1);

$shadow5px: 0 1px 2px rgba(0, 0, 0, 0.3), 0 3.4px 6.7px rgba(0, 0, 0, 0.15),
	0 15px 30px rgba(0, 0, 0, 0.07);

$shadow10px: 0 1.7px 3.4px rgba(0, 0, 0, 0.3),
	0 5.6px 11.4px rgba(0, 0, 0, 0.15), 0 25px 51px rgba(0, 0, 0, 0.07);

$primary: #326799;
$secondary: #3d2979;
$secondaryTransparent: #3d2979cc;
$primaryGradient: linear-gradient(
	160deg,
	$primary 0%,
	$secondaryTransparent 100%
);
$vibrantGradient: linear-gradient(
	-120deg,
	rgba(232, 26, 255, 0.8) 0%,
	rgba(240, 45, 71, 0.8) 100%
);

$white: #fff;
$whiteTransparent: #ffffffcc;
$lightGrey: #eee;
$grey: #ccc;
$darkGrey: #333;
$darkGreyTransparent: #333333cc;
$darkestGrey: #222;

$size6: 3.082rem;
$size5: 2.435rem;
$size4: 1.924rem;
$size3: 1.52rem;
$size2: 1.201rem;
$size1: 0.949rem;
$size0: 0.75rem;
$size-1: 0.593rem;
$size-2: 0.468rem;
$size-3: 0.37rem;
