@import "./variables.scss";

.outerWindow {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: $lightGrey;
}

.innerWindow {
	overflow: auto;
	max-width: 450px;
	width: 100%;
	max-height: 900px;
	height: 100%;
	background-color: $white;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	overflow-y: auto;
}

@media only screen and (min-width: 450px) {
	.outerWindow {
		background-size: cover;
	}

	.innerWindow {
		width: calc(100vw - 1.52rem);
		height: calc(100% - 1.52rem);
		border-radius: $size0;
		box-shadow: $shadow10px;

		&::-webkit-scrollbar {
			width: 11px;
		}
		&::-webkit-scrollbar-track {
			background-color: $lightGrey;
			border-radius: 0 $size0 $size0 0;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $secondary;
			border-radius: 0 $size0 $size0 0;
		}
	}
}
