@import "../../styles/variables.scss";

.siteContainer {
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.siteHeader {
	padding: $size0;
	position: sticky;
	top: 0;
	z-index: 3;
	background-color: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(4px);

	&__inner {
		max-width: 1000px;
		margin: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__h1 {
		margin: 0;
		color: $primary;
		font-size: $size4;
		font-weight: 900;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		transition: filter 0.2s ease-in-out;
		&:hover,
		&:focus {
			filter: drop-shadow(3px 3px 0 $hoverPink);
		}

		.material-icons {
			font-size: 1.07em;
			margin: 0;
			margin-top: 9px;
		}
	}
}

.headerNav {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: row;

	&__item {
		padding-left: $size-3;
		&__a {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: $size0;
			color: $darkestGrey;
			font-weight: 600;
			text-decoration: none;
			background: none;
			transition-property: background, box-shadow;
			transition-timing-function: ease-in-out;
			transition-duration: 0.2s;
			border-radius: $size6;
			&:hover {
				background: $lightGrey;
				color: $darkestGrey;
			}

			&--active {
				box-shadow: inset 1px 1px 5px $darkGreyTransparent;
				color: $white;
				background: $vibrantGradient;
				&:hover {
					background: $vibrantGradient;
					color: $white;
				}
			}
		}
	}
}

.siteMain {
	flex-grow: 1;
}

.siteFooter {
	background: $whiteTransparent;
	color: $darkestGrey;
	position: sticky;
	bottom: 0;
	text-align: center;
}

.footerNav {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	list-style: none;
	border-top: 1px solid $darkGrey;

	&__item {
		width: 100%;
		border: none;

		&:first-child {
			.footerNav__item__a {
				border-left: none;
			}
		}

		&__a {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: $size0;
			background: $darkGrey;
			color: $lightGrey;
			text-decoration: none;
			border-left: 1px solid $darkestGrey;
			box-shadow: none;
			transition: 0.2s background, box-shadow ease-in-out;

			&--active {
				background: $vibrantGradient;
				box-shadow: inset 1px 1px 5px $darkGreyTransparent;
			}
		}
	}
}
