@import "../../../styles/variables.scss";

.post {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding-bottom: $size4;

	&__side {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__body {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}

	&__content {
		padding-top: $size-2;
		margin: 0;
		font-size: $size3;
		font-weight: 700;
	}

	&__author {
		font-weight: 800;
		font-style: normal;
		font-size: $size1;
	}

	&__info {
		padding-top: $size2;
	}

	&__time {
		display: inline-flex;
		font-size: $size0;
		color: $darkGrey;
	}

	&__location {
		display: inline-flex;
		font-size: $size0;
		color: $darkGrey;
		padding-left: $size1;
	}
}
